$base: #9B9B9B
$brand-dark: #263238
$brand: #FE5E64
$white: #fff
$transition-duration: 0s

%font-styles
    color: $brand-dark
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
    font-size: 14px

.selectron
    background-color: $white
    border: 1px solid $base
    border-radius: 4px
    display: inline-block
    max-width: 300px
    min-width: 150px
    position: relative
    transition: border-color $transition-duration, box-shadow $transition-duration
    width: 100%

    > *
        -webkit-tap-highlight-color: rgba(0,0,0,0)
        -webkit-tap-highlight-color: transparent

    &--is-focused
        border-color: $brand
        box-shadow: 0 0 0 2px rgba($brand, .25)

    &--is-open
        border: 1px solid $base
        border-radius: 4px 4px 0 0
        box-shadow: none

    &--is-overflowing
        &.selectron--is-open
            border-radius: 0 0 4px 4px

    &--multiple &
        &__trigger
            align-items: center
            display: flex
            flex-wrap: wrap

    &--is-filled &
        &__trigger
            color: $brand-dark


    &::after
        border: 2px solid $base
        border-right: none
        border-top: none
        content: ''
        display: block
        height: 6px
        margin-top: -6px
        pointer-events: none
        position: absolute
        right: 12px
        top: 50%
        transform: rotate(-45deg)
        width: 6px


    &__trigger
        @extend %font-styles
        background-color: transparent
        border: none
        box-sizing: border-box
        color: $base
        cursor: pointer
        display: block
        line-height: 1
        margin: 0
        min-height: 36px
        outline: none
        overflow: hidden
        padding: 10px 30px 10px 10px
        text-align: left
        text-overflow: ellipsis
        white-space: nowrap
        width: 100%

        .selectron--is-clearable.selectron--is-filled &
            padding-right: 50px

        .selectron--is-clearable.selectron--is-filled.selectron--multiple &
            padding-right: 45px

        .selectron--multiple.selectron--is-filled &
            padding: 0 5px 5px

    &__options
        background-color: $white
        border: 1px solid $base
        border-radius: 0 0 4px 4px
        border-top: none
        display: flex
        flex-direction: column
        z-index: 100

        &--is-overflowing
            border: 1px solid $base
            border-bottom: none
            border-radius: 4px 4px 0 0

            .selectron__search
                order: 1

            .selectron__list
                border-bottom: 1px solid rgba($base, .5)
                border-top: none

    &__search
        @extend %font-styles
        -webkit-appearance: none
        background-color: transparent
        border: none
        color: $brand-dark
        font-size: 12px
        outline: none
        padding: 10px

    &__list
        -webkit-overflow-scrolling: touch
        border-top: 1px solid rgba($base, .5)
        flex: 1
        margin: 0
        max-height: 200px
        overflow: auto
        padding: 0
        position: relative

        &:empty
            display: none

    &__option
        @extend %font-styles
        -webkit-tap-highlight-color: rgba(0,0,0,0)
        -webkit-tap-highlight-color: transparent
        cursor: pointer
        font-size: 12px
        padding: 10px
        transition: background-color $transition-duration, color $transition-duration

        &--empty
            font-style: italic

        &--selected
            background-color: rgba($brand, .1)

        &--highlighted
            background-color: rgba($brand, .25)
            color: $brand

    &__item
        @extend %font-styles
        background-color: rgba($brand, .1)
        border: 1px solid $brand
        border-radius: 2px
        color: $brand
        display: flex
        font-size: 12px
        margin-right: 5px
        margin-top: 5px

        &-remove
            background-color: transparent
            border: none
            border-right: 1px solid $brand
            cursor: pointer
            font-size: 0
            min-width: 18px
            outline: 0
            padding: 0
            position: relative
            transition: background-color $transition-duration

            &:hover
                background-color: $brand

                &::before,
                &::after
                    background-color: $white

            &::before,
            &::after
                background-color: $brand
                content: ''
                height: 2px
                left: 50%
                margin: -1px 0 0 -4px
                position: absolute
                top: 50%
                transform: rotate(45deg)
                transition: background-color $transition-duration
                width: 8px

            &::after
                transform: rotate(-45deg)

        &-copy
            align-self: center
            line-height: 1.2
            padding: 2px 5px

    &__clear
        background-color: transparent
        border: 0
        cursor: pointer
        font-size: 0
        height: 30px
        margin-top: -15px
        outline: none
        padding: 0
        position: absolute
        right: 20px
        top: 50%
        width: 30px

        &::before,
        &::after
            background-color: $base
            content: ''
            height: 2px
            left: 50%
            margin: -1px 0 0 -5px
            position: absolute
            top: 50%
            transform: rotate(45deg)
            width: 10px

        &::after
            transform: rotate(-45deg)

    &__spinner
        border: 2px solid rgba($base, .25)
        border-radius: 50%
        box-sizing: border-box
        height: 16px
        margin-top: -8px
        position: absolute
        right: 27px
        top: 50%
        width: 16px

        &::after
            animation: spin infinite .75s
            border: 2px solid transparent
            border-radius: 50%
            border-right-color: $brand
            box-sizing: border-box
            content: ''
            height: 16px
            left: 50%
            margin: -8px 0 0 -8px
            position: absolute
            top: 50%
            width: 16px

@keyframes spin
    from
        transform: rotate(0)

    to
        transform: rotate(360deg)